body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 18vh; /* El encabezado ocupa el 20% del alto de la ventana */
  overflow: hidden;
  background: #FFCC01 /* Fondo amarillo */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para que cubra toda la ventana manteniendo la relación de aspecto */
  z-index: -1; /* Coloca el video detrás del contenido */
}

#logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo {
  width: 100%; /* La imagen ocupa el 30% del ancho del encabezado */
  height: 100%; /* La imagen ocupa toda la altura del encabezado */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor del encabezado manteniendo la relación de aspecto */
}

h1 {
  color: white;
  margin-left: 10px;
  font-size: 24px;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2258ec; /* Fondo gris claro */
  padding: 10px;
  width: 50%; /* Ancho del 100% del contenedor padre */
}

/* Estilos para el campo de entrada de texto */
.search-container input {
  padding: 10px; /* Espaciado interno del campo de entrada */
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1; /* El campo de entrada tomará el espacio disponible en el contenedor */
  margin-right: 5px;
}

/* Estilos para el botón de búsqueda */
.search-container button {
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none;
  background: yellow;/* Fondo azul */
  
  border-radius: 4px;
  cursor: pointer;
}

/* Ajustar estilos para dispositivos móviles (opcional) */
@media screen and (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container input {
    margin-bottom: 10px;
  }
}