/* Estilos para el fondo de la página */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 18vh; 
  overflow: hidden;
  background: #FFCC01;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para que cubra toda la ventana manteniendo la relación de aspecto */
  z-index: -1; /* Coloca el video detrás del contenido */
}

#logo-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo {
  width: 100%; /* La imagen ocupa el 30% del ancho del encabezado */
  height: 100%; /* La imagen ocupa toda la altura del encabezado */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor del encabezado manteniendo la relación de aspecto */
}

h1 {
  color: white;
  margin-left: 10px;
  font-size: 24px;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2258ec; /* Fondo gris claro */
  padding: 10px;
  width: 50%; /* Ancho del 100% del contenedor padre */
}

/* Estilos para el campo de entrada de texto */
.search-container input {
  padding: 10px; /* Espaciado interno del campo de entrada */
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1; /* El campo de entrada tomará el espacio disponible en el contenedor */
  margin-right: 5px;
  font-weight: bold; 
  font-size:large;
}

/* Estilos para el botón de búsqueda */
.search-container button {
  padding: 20px 30px; /* Espaciado interno del botón */
  border: none;
  background-color: none;
   /* Fondo amarillo */
  background-image: url('pokebola.png'); /* Agregamos la imagen como fondo del botón */
  background-size: contain; /* Ajustamos el tamaño de la imagen para que quepa dentro del botón */
  background-repeat: no-repeat; /* Evitamos que la imagen se repita */
  background-position: center; /* Centramos la imagen dentro del botón */
  border-radius: 4px;
  cursor: pointer; 
}

:root {
  --clr-black: #1c1c1c;
  

  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-grass: #78C850;
  --type-electric: #F8D030;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-dragon: #7038F8;
  --type-steel: #B8B8D0;
  --type-fairy: #F0B6BC;

  
}
#root {

  background-color: var(--color-root);
  padding: 35px;
  width: 100%;
  /*height: 100vh;*/
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}


.content-principal {
  width: calc(16.6667% - 60px);
  height: 220px;
  margin: 50px;
  display: none;

  background-size: cover;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 1px rgba(231, 225, 225, 0.75);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(202, 194, 194, 0.75);
  -moz-box-shadow: 1px 1px 5px 1px rgba(207, 199, 199, 0.75);
}


.content-principal.visible {
  display: block;
}



.bug {background-image: url('img/cards/bug.jpg');}
.grass {background-image: url('img/cards/grass.jpg');}
.fairy {background-image: url('img/cards/fairy.jpg');}
.dragon {background-image: url('img/cards/dragon.jpg');}
.dark {background-image: url('img/cards/dark.jpg');}
.fire {background-image: url('img/cards/fire.jpg');}
.water {background-image: url('img/cards/water.jpg');}
.electric {background-image: url('img/cards/electric.jpg');}
.fighting {background-image: url('img/cards/fighting.jpg');}
.flying {background-image: url('img/cards/flying.jpg');}
.ghost {background-image: url('img/cards/ghost.jpg');}
.ground {background-image: url('img/cards/ground.jpg');}
.poison {background-image: url('img/cards/poison.jpg');}
.psychic {background-image: url('img/cards/psychic.jpg');}
.rock {background-image: url('img/cards/rock.jpg');}
.normal {background-image: url('img/cards/normal.jpg');}
.ice {background-image: url('img/cards/ice.jpg');}
.steel {background-image: url('img/cards/steel.jpg');}





.num-pokemon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--clr-black);
}

.content-info {
  /*background-color:#0975f0;*/
  margin: 5px;
}

.content-info .name-pokemon {
  text-align: center;
  font-size: 20px;
  color: var(--clr-black);

}

.content-info .type-pokemon {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--clr-black);
}

.type-pokemon img {
  width: 2.5rem;
  margin: 5px;
  color: var(--clr-black);
}



ul {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.btn-header {
  padding: .5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
  transition: .2s;
}

.btn-header:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

.type-button {
  padding: 20px 30px; /* Espaciado interno del botón */
  border: none;
  background-color: transparent; /* Fondo inicialmente transparente */
  border-radius: 4px;
  cursor: pointer; 
}

.normal-btn  {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire-btn  {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.water-btn  {
  background-color: var(--type-water);
  color: var(--clr-white);
}

.grass-btn  {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.electric-btn  {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.ice-btn  {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting-btn  {
  background-color: var(--type-fighting);
  color: var(--clr-white);
}

.poison-btn  {
  background-color: var(--type-poison);
  color: var(--clr-white);
}

.ground-btn  {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.flying-btn  {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psychic-btn  {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bug-btn  {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock-btn  {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost-btn  {
  background-color: var(--type-ghost);
  color: var(--clr-white);
}

.dark-btn  {
  background-color: var(--type-dark);
  color: var(--clr-white);
}

.dragon-btn  {
  background-color: var(--type-dragon);
  color: var(--clr-white);
}

.steel-btn  {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy-btn  {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}
/* Estilos para las tarjetas de los Pokémon */
.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  width: 180px; /* Tamaño adecuado para la tarjeta */
  height: 260px; /* Tamaño adecuado para la tarjeta */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 100px; /* Tamaño adecuado para la imagen del Pokémon */
  height: 100px; /* Tamaño adecuado para la imagen del Pokémon */
  margin: 0 auto;
  display: block;
}

.num-pokemon {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 12px ;
}

.name-pokemon {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

.type-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.type-pokemon img {
  width: 20px;
  height: 20px;
}

/* Ajustar estilos para dispositivos móviles (opcional) */
@media screen and (max-width: 768px) {
  .content-principal {
    width: calc(33.3333% - 60px);
  }
}

/* Ajustar estilos para dispositivos móviles (opcional) */
@media screen and (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container input {
    margin-bottom: 10px;
  }
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  display: none;
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container {
  overflow-x: auto;
  background-size: cover;
  margin: auto;
  width: 400px;
  max-height: -webkit-fill-available;
  border-radius: 6px;
  padding: 1em 1em;
  margin: 30px auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: var(--transform);
  transition:var(--transition);
}

.modal__container::-webkit-scrollbar{
  width: 8px;
  background-color: #d9dddf;
  border-radius: 20px;
}
.modal__container::-webkit-scrollbar:window-inactive {
  display: none;
}
.modal__container::-webkit-scrollbar-thumb  {
  background-color: #09C;
  border-radius: 6px;
}
.modal__close{
  position: center;
  right: 0;
  
}
.modal__header {
  text-align: center; /* Centra el texto horizontalmente */
  margin: 20px auto; /* Ajusta el espacio vertical */
}
.modal__img {
  max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
  max-height: 150px; /* Ajusta el tamaño máximo de la imagen */
  margin: 10px 0; /* Ajusta el espacio vertical */
}
.modal__num {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0; /* Ajusta el espacio vertical */
}

.modal__title{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0; /* Ajusta el espacio vertical */
}
.modal__paragraph{
  margin-bottom: 10px;
  font-size: 12px;
  width: 100%;
}
.modal__body{
 /* background-color: #1391CC;*/
  width: 100%;
  /*background-color: var(--color-type);*/
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.modal__type{
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  background-color: var(--color-search);
  border-radius: 7px;
}
.modal__height{
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  background-color: var(--color-search);
  border-radius: 7px;
}
.modal__weight{
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  background-color: var(--color-search);
  border-radius: 7px;

}
.modal__stast{
  font-size: 14px;
  margin: 2px;
  padding: 5px;
  background-color: var(--color-search);
  border-radius: 7px;

}
.modal__evolu{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 10px; 
}
.modal__evolutions{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row; /* Cambio la dirección a fila (row) */
  justify-content: space-between; /* Agrego espacio entre las dos secciones */
  flex-wrap: wrap;
}
.next-evolution,
.prev-evolution {
  width: calc(50% - 15px); /* Divide el espacio en dos columnas con margen */
  padding: 10px 15px; /* Ajusta el espaciado interno */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho */
}
.modal__evolutions img{
  width: 100px;
  margin-bottom: 5px;
}
.modal__evolutions .titulo{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal__evolutions p{
 font-size: 11px;
 margin: 2px 0; 
}