body, html {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  background: #252932;
}

header video {
  width: 70%; /* El video ocupa el 70% del ancho del encabezado */
  height: 100%;
  object-fit: cover;
}

.logo {
  flex-grow: 1; /* Permite que el contenedor de la imagen ocupe el espacio restante */
}

.logo img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 100%; /* La imagen ocupa todo el largo del contenedor */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor del encabezado manteniendo la relación de aspecto */
}

.logo h1 {
  margin: 0;
  margin-left: 10px;
  color: white;
}

/* Estilos para pantallas más pequeñas (opcional) */
@media screen and (max-width: 768px) {
  header {
    height: 30vh;
    flex-direction: column;
    justify-content: center;
  }

  header video {
    width: 100%; /* El video ocupa todo el ancho del encabezado en dispositivos móviles */
  }

  .logo {
    width: 100%; /* La imagen ocupa todo el ancho del encabezado en dispositivos móviles */
    margin-bottom: 10px;
  }
}